version: '3.8'

services:
  lb-nginx:
    image: nginx:latest
    container_name: demo-api
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    deploy:
      resources:
        limits:
          cpus: '0.05'
          memory: 64M